<div class="container mt-3">
  <form action="/addEmployee" method="post">
    <div class="mb-3">
      <label for="name" class="col-form-label">Fisrt Name: </label>
      <input type="text" name="firstName" class="form-control" id="name" />
    </div>
    <div class="mb-3">
      <label for="name" class="col-form-label">Last Name: </label>
      <input type="text" name="lastName" class="form-control" id="name" />
    </div>
    <div class="mb-3">
      <label for="name" class="col-form-label">Email: </label>
      <input type="text" name="email" class="form-control" id="name" />
    </div>
    <div class="mb-3">
      <label for="name" class="col-form-label">department: </label>
      <input type="text" name="department" class="form-control" id="name" />
    </div>

    <input type="submit" , class="btn btn-info" />
  </form>
</div>
